* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* Add Fonts */

.chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chakra-petch-regular-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.chakra-petch-medium {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.chakra-petch-medium-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.chakra-petch-semibold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.wrapper {
    position: relative;
    background: #f3f5f5;
}

.anp-banner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.anp-banner img {
    width: 100%;
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1280px;
    }
}
.header-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background: #fff;
}

header {
    position: relative;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 80px; */
    flex-wrap: wrap;
    position: relative;
}

.header-left {
    width: 45%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-right {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header-logo {
    position: relative;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo a {
    display: block;
}

.header-search {
    width: calc(100% - 210px);
    position: relative;
    display: flex;
    padding: 0 15px;
}

.search-box {
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid #0f62ac;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 30px;
    background: #fff;
    box-sizing: border-box;
    outline: none;
}

button.search-btn-icon {
    background: none;
    border: 0;
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.header-buildpc {
    width: calc(100% - 270px);
    padding: 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.header-cart {
    max-width: 264px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.build-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    /* width: 50%; */
}

.build-button img {
    width: 100%;
    border-radius: 4px;
}

.d-block {
    display: flex;
}

.hotline-box {
    width: 155px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    border: 1px solid #0f62ac;
    border-radius: 5px;
    padding: 3px 5px;
    margin-left: 30px;
}

.hl-icon {
    width: 25px;
    text-align: center;
    margin-right: 5px;
}

.ht-tel {
    width: calc(100% - 30px);
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.text-blue {
    color: #0b56a4;
}

.text-red {
    color: #ec202a;
}
.anp-user {
    display: flex;
    align-items: center;
    width: 128px;
}

.btn-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid #0f62ac;
    padding: 0 7px;
    border-radius: 10px;
    position: relative;
    height: 42px;
    /* width: 100%; */
}

.btn-header-icon {
    margin-right: 5px;
}

.btn-header-icon img {
    width: 20px;
}

.btn-header-text span {
    text-transform: uppercase;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #0b56a4;
}

.anp-cart {
    width: 128px;
    display: flex;
    justify-content: flex-end;
}

.bagde-number {
    position: absolute;
    font-size: 14px;
    top: -10px;
    right: -10px;
    background: #0b56a4;
    color: #fff;
    border-radius: 10px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    width: 20px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 12px;
}
 
.nav-header {
    position: relative;
    /* height: 40px; */
    background: #0f62ac;
}

.nav-sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.categories-sidebar {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 10px 0;
}

.icon-categories {
    margin-right: 1rem;
    display: inline-flex;
}
.icon-categories img {
    width: 20px;
}
.mobile-menu {
    display: none;
}
.title-cate {
    color: #fff;
    text-transform: uppercase;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 13px;
}
.menu-right {
    width: calc(100% - 250px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.nav-item {
    display: inline-flex;
    padding-left: 20px;
    position: relative;
}

.nav-item a {
    padding: 10px 0px;
    display: flex;
    color: #fff;
    font-family: "Chakra Petch", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.nav-item:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: url(../images/list.png);
    top: 16px;
    right: -14px;
}

.nav-item:last-child:before {
    display: none;
}
.text-yellow-3 {
    color:#fff700 !important;
}
section.content-layout {
    position: relative;
}

.content-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: #fff;
}

.sidebar {
    width: 25%;
    display: inline-flex;
    position: relative;
}

.sidebar-inner {
    width: 100%;
    position: relative;
    padding: 25px;
}

.title-sidebar {
    font-size: 20px;
    text-transform: uppercase;
    color: #43454b;
    display: block;
    margin-bottom: 10px;
    padding: 0 10px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.sidebar-list {
    list-style-type: none;
    position: relative;
}

.sidebar-item {
    position: relative;
}

.sidebar-link {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #f3f3f3;
    font-size: 15px;
    color: #43454b;
    position: relative;
}
.item-parent .sidebar-link:after {
    content: "\f107";
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    width: 40px;
    height: 40px;
    right: 0;
    position: absolute;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.sidebar-menu-droppdown {
    position: relative;
    display: none;
}

.item-parent .sidebar-menu-droppdown .sidebar-link::after {
    display: none;
}

.sidebar-menu-droppdown .sidebar-link {
    padding: 10px;
    background: #f9f9f9;
    transition: .3s;
}

.sidebar-menu-droppdown .sidebar-item:first-child .sidebar-link {
    border-top: 0;
}

.sidebar-menu-droppdown .sidebar-link:hover {
    background: #f1f1f1;
    padding-left: 20px;
}
.icon-link {
    display: inline-flex;
}

.icon-link img {
    width: 40px;
}

.content-article {
    position: relative;
    min-height: 80vh;
    width: 50%;
    padding: 25px 10px;
}
.search-box-content {
    display: block;
    background: #f5f6f6;
    border-radius: 5px;
    padding: 10px 20px;
}

.search-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.search-group input {
    width: calc(100% - 120px);
    height: 40px;
    border: 1px solid #0f62ac;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 15px;
    background: #fff;
    box-sizing: border-box;
    outline: none;
    font-family: "Chakra Petch", sans-serif;
}
.search-group input::placeholder {
    font-family: "Chakra Petch", sans-serif;
    font-size: 15px;
}
.search-group i {
    position: absolute;
    left: 10px;
    color: #0f62ac;
    top: 13px;
    font-weight: bold;
}

.btn-search {
    border: 1px solid #0f62ac;
    background: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    height: 40px;
    cursor: pointer;
    outline: none;
    transition: .3s;
    color: #0f62ac;
    text-transform: uppercase;
    width: 100px;
}

.btn-search:hover {
    color: #fff;
    background: #0f62ac;
}
.article-content {
    position: relative;
    padding: 10px 0px;
}

.title-article {
    text-transform: uppercase;
    font-size: 18px;
    color: #0f62ac;
    line-height: 30px;
    padding-bottom: 0;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    font-family: 'Chakra Petch';
}

.title-article:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 130px;
    background: #0f62ac;
    bottom: 0;
    left: 0;
}

.article-lists {
    list-style-type: none;
    position: relative;
}

.article-lists li {
    margin-bottom: 25px;
}

.content-block {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
}

.post-thumbnail {
    width: 220px;
    display: inline-flex;
}

.post-thumbnail img {
    width: 100%;
}

.post-thumbnail a {
    display: flex;
}

.post-content {
    width: calc(100% - 220px);
    padding: 0 15px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.title-post a, .title-post-content {
    font-size: 22px;
    font-family: 'Chakra Petch';
    color: #0f62ac;
    display: block;
    margin-bottom: 10px;
}

.post-meta {
    display: flex;
    padding-top: 5px;
    border-top: 2px solid #f3f3f3;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #85878b;
}

.title-post {
    display: block;
    margin-bottom: 15px;
}
.meta-cate {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #85878b;
    font-weight: 500;
    text-transform: capitalize;
}

.meta-cate:after {
    content: "\f111";
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    font-size: 6px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-flex;
    line-height: 22px;
}

.meta-cate a {
    color: #85878b;
}

.meta-created {
    font-style: italic;
}

.meta-comments i {
    color: #0f62ac;
    font-size: 17px;
    margin-right: 2px;
}
.loadmore-post {
    display: block;
}

.loadmore-post-item {
    width: 100%;
    text-align: center;
    background: #0e5da2;
    color: #fff;
    font-size: 14px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.loadmore-post-item i {
    display: inline-flex;
    margin-left: 5px;
    margin-top: 3px;
}
.widget-sidebar {
    width: 25%;
    position: relative;
    padding: 25px 10px;
}

.h-60 {
    display: block;
    height: 60px;
}

.widget-box {
    position: relative;
    padding: 10px 0px;
}
.tip-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 300;
}

.tips-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.tips-list li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.bg-blue {
    background: #0f62ac;
}
.bg-green {
    background: #00ab4f;
}
.bg-orange {
    background: #ffae47;
}
.bg-danger {
    background: #ff2e17;
}
.bg-violet {
    background: #4c2795;
}
.bg-info {
    background: #00b9f2;
}
.widget-slick-slider {
    position: relative;
    padding: 10px 5px;
    background: #eaf7fd;
    border-radius: 10px;
}

.widget-post-sm {
    position: relative;
    padding: 5px;
}

.post-title-sm {
    display: block;
    margin-bottom: 15px;
}

.post-title-sm a {
    font-size: 10px;
    line-height: 1.3;
    color: #4b4b4b;
    display: block;
}

.post-thumb {
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}

.post-thumb img {
    width: 100%;
}
.col-9 {
    width: 75%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 66%
}
.post-content-block, .comments-block {
    position: relative;
    border: 1px solid #dededf;
    border-radius: 10px;
    padding: 15px 25px;
}

.breadcrumb-post {
    position: relative;
    margin-bottom: 10px;
}

.breadcrumb-post-content, .meta-post-content-lits {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.breadcrumb-link, .meta-post-content-lits li {
    position: relative;
    display: inline-flex;
}

.breadcrumb-link a {
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    color: #aeaeae;
}

.breadcrumb-link:first-child a {
    padding-left: 0;
}

.breadcrumb-link:before {
    content: "\f107";
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    top: 2px;
    right: -5px;
    position: absolute;
    font-size: 16px;
    text-align: center;
    transform: rotate(-90deg);
    color: #aeaeae;
}

.breadcrumb-link:last-child:before {
    display: none;
}

.breadcrumb-link a.font-bold {
    font-weight: bold;
    color: #7d7d7d;
    font-style: italic;
}
.meta-post-content-lits li {
    padding-right: 30px;
    font-weight: 600;
    color: #7d7d7d;
    font-style: italic;
}

.meta-post-content-lits li:first-child strong {
    color: #1675c1;
    font-style: italic;
}

.title-post-content {
    color: #1274bc;
}

.meta-post-content-lits li:first-child span {
    font-weight: 400;
    color: #5ccafb;
    font-style: normal;
}

.meta-post-content-lits li:after {
    content: "\f111";
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    font-size: 4px;
    display: inline-flex;
    font-style: normal;
    color: #7d7d7d;
    position: absolute;
    right: 13px;
    top: 8px;
}
.mb-2 {
    margin-bottom: 0.5em;
}
.hr {
    border-top: 1px solid #dededf;
}
.mb-3 {
    margin-bottom: 0.75em;
}
.mb-4 {
    margin-bottom: 1rem;
}
.post-content-block p {
    color: #aeaeae;
    margin-bottom: 15px;
}

.block-slider-product {
    position: relative;
    display: block;
    margin: 15px 0 15px;
    background: #eaf7fd;
    padding: 15px;
    border-radius: 10px;
}
.title-block-iframe {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
}
.product-item {
    position: relative;
    display: block;
    padding: 5px;
}

.product-link {
    display: block;
    color: #0f62ac;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 8px -1px rgb(0 0 0 / 16%);
}

.product-image {
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.product-image img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.product-info {
    position: relative;
    padding: 5px 10px 30px;
}

.name-product {
    font-size: 12px;
    color: #85878b;
}

.price-product {
    text-align: center;
    font-family: 'Chakra Petch';
    font-weight: 600;
    margin-top: 10px;
    color: #1274bc;
    font-size: 13px;
}
.text-18-italic {
    font-size: 18px;
    color: #7d7d7d;
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.font-bold {
    font-weight: bold;
}

.keywords {
    display: block;
    margin: 15px 0 15px;
}
.related-posts {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col-3 {
    width: 25%;
    padding: 0 10px;
}

.d-flex {
    display: flex;
}

.post-title a {
    font-size: 20px;
    font-family: 'Chakra Petch';
    color: #1e78ce;
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
}
.text-blue-2 {
    color: #1e78ce;
}
.comments-form {
    position: relative;
}

.form-control {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    display: block;
}

.comments-form textarea.form-control {
    resize: none;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Chakra Petch';
    display: block;
}

.comments-form textarea.form-control::placeholder {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Chakra Petch';
    color: #1e78ce;
}

.upload-file-cmt {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 16px;
}

.file-hidden {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

.upload-file-cmt .fal {
    font-size: 20px;
    margin-right: 5px;
    display: inline-flex;
}
.gender-radio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.radio_anp {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 0;
    cursor: pointer;
    margin-right: 15px;
}

.radio_anp [type=radio]:checked,
.radio_anp [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.radio_anp [type=radio]:checked + label,
.radio_anp [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666666;
}
.radio_anp [type=radio]:checked + label:before,
.radio_anp [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #999999;
  border-radius: 50%;
  background: #fff;
}
.radio_anp [type=radio]:checked + label:after,
.radio_anp [type=radio]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #1e78ce;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.radio_anp [type=radio]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.radio_anp [type=radio]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.d-grid {
    display: grid;
}

.gap-5 {
    grid-gap: 10px;
}

.colume-2 {
    grid-template-columns: repeat(2,minmax(100px,1fr));
}

.input-group-1 {
    position: relative;
}

.input-group-1 .form-input {
    width: 100%;
    border-color: #e5e5e5;
    height: 50px;
    padding-top: 25px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 6px;
}

.input-group-1 label {
    position: absolute;
    color: #617483;
    top: 15px;
    left: 15px;
    font-weight: 500;
    transition: .3s;
}
.input-group-1.focus label,
.input-group-1.has-value label  {
    top: 6px;
}
.button-submit {
    width: 100%;
    height: 50px;
    border: 1px solid #1e78ce;
    border-radius: 10px;
    background: #1e78ce;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}
.text-danger {
    color: #ff2e17;
}
.comments-lists {
    position: relative;
}

.comment-item {
    position: relative;
    margin-bottom: 20px;
}

.cmt-content {
    display: block;
}

.cmt-name {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.cmt-desc {
    font-size: 15px;
    margin-bottom: 15px;
}

.cmt-actions {
    display: flex;
    align-items: center;
}

.cmt-actions a {
    color: #000;
    margin-right: 15px;
}

span.time-cmt {
    color: #9E9E9E;
}
.comment-admin {
    padding: 30px;
    background: #fafbfb;
    border-radius: 10px;
}

.cmt-image {
    margin-right: 15px;
    display: inline-flex;
}

.cmt-image img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    object-fit: cover;
}

.cmt-role {
    margin-left: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #1e78ce;
    color: #fff;
    font-size: 13px;
    padding: 5px 7px;
    border-radius: 4px;
    font-weight: 500;
}
.cmt-actions a.fav-cmt.like {
    color: #1e78ce;
}
.slick-slide img {
    width: 100%;
}

@media screen and (max-width: 600px) {
    
    .wrapper {
        background: #fff;
    }
    .anp-banner {
        display:none;
    }
    .header-section {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .header-hero {
        height: auto;
    }
    
    .header-left {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 0;
    }
    
    .header-logo {
        width: 130px;
        display: block;
        margin: 0 auto 10px;
    }
    
    .header-logo img {
        width: 100%;
    }
    
    .header-search {
        width: 100%;
        padding: 0 10px;
    }
    
    .header-right, .header-buildpc, .header-cart {
        width: 100%;
    }
    
    .header-buildpc {
        padding-left: 10px;
        margin-bottom: 15px;
    }
    
    .hotline-box {
        margin-left: 15px;
    }
    
    .build-button {}
    
    .header-cart {
        padding: 0 10px;
        margin-bottom: 15px;
    }
    .categories-sidebar {
        width: 100%;
        padding: 10px;
    }
    
    .nav-item:before {
        display: none;
    }
    
    .nav-item {
        padding: 0;
        width: 100%;
    }
    
    .menu-right {
        width: 100%;
        padding: 10px;
        display: none;
    }
    
    .nav-header .container {
        padding: 0;
    }
    .content-box {
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .sidebar, .content-article, .widget-sidebar {
        width: 100%;
    }
    
    .post-thumbnail {
        width: 90px;
    }
    
    .post-content {
        width: calc(100% - 90px);
    }
    
    .title-post a, .title-post-content {
        font-size: 16px;
        font-weight: 600;
    }
    
    .title-post {
        margin-bottom: 0;
    }
    
    .post-meta {
        display: none;
    }
    
    .article-lists li {
        padding-bottom: 15px;
        border-bottom: 1px solid #f1f1f1;
    }
    
    .h-60 {
        display: none;
    }
    
    .widget-sidebar {
        padding-top: 0;
    }

    .col-7 {
        width: 100%;
    }
    
    .meta-post-content-lits li {
        margin-top: 5px;
    }
    
    .col-3 {
        width: 50%;
    }
    
    .post-title a {
        font-size: 15px;
        font-weight: 600;
    }
    
    .cmt-actions .fav-cmt span {
        display: none;
    }
    
    .colume-2 {
        grid-template-columns: repeat(1,minmax(100px,1fr));
    }
    .comments-form textarea.form-control, 
    .comments-form textarea.form-control::placeholder {
        font-size: 15px;
    }

    .icon-categories {
        display: none;
    }
    .icon-categories.mobile-menu {
        display: inline-flex;
    }

}

    
    
    
    
    